{% extends 'base1.html' %}

{% block content %}

    <!doctype html>
    <html lang="en">

        <body>

            <div class="container">
                <div class="row">
                    <div class="col-auto">
                        <div class="alert alert-dark" role="alert">
                          Acerca de
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-auto">
                        <div class="alert alert-secondary" role="alert">
                            Innovación Pie Diabético SAC es una empresa que ofrece servicios de gestión y ejecución de proyectos de investigación, desarrollo e innovación en el pie y tobillo especialmente en pie diabético acreditado por CONCYTEC
                        </div>
                    </div>
                </div>
            </div>


        </body>
    </html>


{% endblock %}