{% extends 'base1.html' %}

{% block content %}

    <!doctype html>
    <html lang="en">

        <body>

<!--            <div class="container">-->
<!--                <div class="row">-->
<!--                    <div class="col-auto">-->
<!--                        <div class="alert alert-dark" role="alert">-->
<!--                          Inicio-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        <div class="card text-center">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a class="nav-link active" href="#">Quiénes somos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">Misión</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">Visión</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <h5 class="card-title">Quiénes somos</h5>
            <p class="card-text">Somos una empresa privada trujillana   dedicada a la asesoría, gestión y ejecución de proyectos de investigación, desarrollo   e innovación (I+D+I) en el pie sano y enfermo, siendo nuestra área más destacada el pie diabético.</p>
<!--            <a href="#" class="btn btn-primary">Go somewhere</a>-->
          </div>
        </div>
        </body>

    </html>


{% endblock %}